:root{
    --BackgroundColor: #110828;
    --HeaderBackgroundColor: #1E102A;
    --HeaderProjectsColor: #D84974;
    --TextColor: white;
    --TextColorHover: rgb(85, 85, 85);
    --TransitionTime: 1s;
    --ShadowColor: white;
}
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: monospace;
    color: var(--TextColor);
}
html,body,head{
    width: 100%;
    height: 100%;
}
html{
    scroll-snap-type: y mandatory;
}
body{
    background-color: var(--BackgroundColor);
    display: flex;
    justify-content: center;
}
.Home,.About,.Projects,.Contact,.Header >a,.Header,.AboutContent,.AboutImg{
    transition: var(--TransitionTime);
}
.Home,.About,.Projects,.Contact{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}
.Header
{
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    font-size: 200%;
    background-color: var(--HeaderBackgroundColor);
    padding: 10px 0px;
    position: fixed;
}
.Header >a{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.Header >a:hover{
    color: var(--TextColorHover);
}
.Home
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-align:center;
    text-shadow: var(--ShadowColor) 1px 1px 10px;
}
.Matrix{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.About{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 200%;
}
.Name{
    font-size: 200%;
}
.Desc{
    display: inline;
}
.LinksTitle{
    padding-top: 50px;
}
.AboutImg{
    position: relative;
}
.ImgPFP,.ImgBorder{
    position: absolute;
    left: calc(50% - (300px) / 2);
    top: calc(50% - (300px) / 2);
    width: 300px;
    aspect-ratio: 1;
}
.ImgPFP{
    z-index: -1;
}
@media only screen and (max-width: 768px) {
    *{
        font-size: 90%;
    }
    html{
        scroll-snap-type: none;
    }
    .Header{
        display: none;
    }
    .AboutContent{
        width: calc(100% - 60px);
        padding: 0px 30px;
        order: 2;
    }
    .About{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}